@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #2a2a72;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
}

input.search {
    background-color: rebeccapurple;
    color: #fff;
    font-size: 16px;
    width: 80vw;
    max-width: 600px;
    border-radius: 10px;
    padding: 15px 10px;
    border:0;
    outline: 0;
}

input.search::placeholder {
    color: #dedede;
}

.github-container {
    margin-top: 3vh;
    background-color: rebeccapurple;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px;
    max-width: 90vw;
}

@media (max-width:480px) {
    #github-container {
        flex-direction: column;
    }
} 

.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #2a2a72;
    overflow: hidden;
}

.profile-pic > img {
    height: 150px;
    width: 150px;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.follow-infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.repos-container {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-top: 10px;
}

.repos-container > div {
    background-color: #2a2a72;
    padding: 3px;
    cursor: pointer;
}

.repos-container > div:hover {
    background-color: #191949;
}