@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    font-size: 16px;
    width: 70vw;
}

.panel {
    position: relative;
    flex: 0.5;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: yellow;
    margin: 20px;
    border-radius: 50px;
    border:solid 1px rgba(218, 214, 7, 0.2);
    transition: flex 0.7s ease-in-out;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.7s;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}

@media(max-width:480px) {
    #container {
        width: 100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}

h1 {
    background-color: yellow;
    color: black;
}